@model List<Template.Model.ClinicView>
@{
    Layout = "~/Views/Shared/_BootstrapLayout.basic.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome Home</title>
</head>
<body>
    <div>
        <table class="table">
            @foreach (var item in Model)
            {
                <tr><td>@item.ClinicName</td></tr>
            }
        </table>
    </div>
</body>
</html>
